
@import '../constants/colors';
@import '../constants/fonts';

body {
    margin: 0;
    height: 100vh;
    background-color: $color-background-light;
    background-image: linear-gradient(to right top, #ffffff, #fbfbfe, #f5f7fe, #eef4fd, #e6f1fc, #e6f1fc, #e6f1fc, #e6f1fc, #eef4fd, #f5f7fe, #fbfbfe, #ffffff);

}