@import '../constants/colors';
@import '../constants/fonts';

$button-border-radius: 5px;

.btn {
    display: block;
    width: 100%;
    font-family: $font-primary;
    color: white;
    background-color: $color-primary;
    border-radius: $button-border-radius;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;

    &:hover{
        background-color: darken($color-primary, 4%);
    }

    &.decline {
        background-color: red;
        &:hover{
            background-color: darken(red, 7%);
        }
    }

    &.accept {
        background-color: green;
        &:hover{
            background-color: darken(green, 4%);
        }
    }

    &.disabled {
        pointer-events: none;
        background-color: grey;
    }
}

.btn-icon {
    width: 50px;
}

.secondary-btn {
    display: block;
    width: 100%;
    font-family: $font-primary;
    color: white;
    background-color: $color-primary;
    border-radius: $button-border-radius;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;

    &:hover{
        background-color: darken($color-primary, 4%);
    }

}

i {
    cursor: pointer;
    &.big {
        font-size: 22px;
    }

    &.medium {
        font-size: 16px;
    }

    &.smoll {
        font-size: 8px;
    }

    &.defaultCursor{
        cursor: default;
    }
}