.form-group-row {
    display: flex;
    justify-content: left;
    align-items: center;

    label {
        flex: 0 0 auto;
    }
    
    input {
    }
}

.form-list {
    padding-right: 10px;
    overflow-y: auto;

    &.small {
        max-height: 200px;
        &.fixed-height {
            min-height: 200px;
        }
    }

    &.medium {
        max-height: 250px;
    }
}

