@import '../constants/colors';
@import '../constants/fonts';

$input-radius: 5px;
$input-padding: 5px;

input {
    border-radius: $input-radius;
    padding: $input-padding;
    box-sizing: border-box;
    &[type=text] {
        min-height: 34px;
    }
    &[type=radio] {
        max-width: 20px;
        min-width: 20px;
    }
}

